<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.vamos.spring.test.thymeleaf.repository.WeatherRepository">
 	<select id="selectWeatherHistory" resultType="com.vamos.spring.test.thymeleaf.domain.Weather">
 		SELECT 
 			`id`
 			,`date`
 			,`weather`
 			,`temperatures`
 			,`precipitation`
 			,`microDust`
 			,`windSpeed`
 			,`createdAt`
 			,`updatedAt`
		FROM
 			`weatherhistory`
 	</select>
 
 	<insert id="insertWeather" parameterType="map">
 		INSERT INTO
 			`weatherhistory`
		(
 			`weather`
 			,`date`
 			,`temperatures`
 			,`precipitation`
 			,`microDust`
 			,`windSpeed`
		)
		VALUE
		(
			#{weather}
			,#{date}
			,#{temperatures}
			,#{precipitation}
			,#{microDust}
			,#{windSpeed}
		)
 			
 	</insert>
 </mapper>