<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<h2>즐겨 찾기 목록</h2>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>이름</th>
					<th>주소</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="favorite : ${favoriteList}">
					<td th:text="${favorite.id}"></td>
					<td th:text="${favorite.name}"></td>
					<td th:text="${favorite.url}"></td>
					<td><button type="button" class="btn btn-danger btn-sm delete-Btn" th:data-favorite-id="${favorite.id}">삭제</button></td>
				</tr>
			</tbody>
		</table>
	</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$(".delete-Btn").on("click",function(){
			// 특정 즐겨찾기 삭제
			// input : 삭제대상 id
			// 대상이 되는 즐겨찾기 삭제 (API 활용) 왜 : 서버에 있는 실제 정보를 삭제해야 하니까
			// OUTPUT : 새로고침 
			let id = $(this).data("favorite-id");

			$.ajax({
				type:"get"
				,url:"/ajax/favorite/delete"
				,data:{"id":id}
				,success:function(response){
					// 성공: {"result":"success"}
					// 실패: {"result":"fail"}
					if(response.result == "success") {
						location.reload();
					} else {
						alert("즐겨찾기 삭제 실패")
					}
				}
				,error:function(){
					alert("에러에러")
				}
			});
		
		
		});
	});
</script>
</body>
</html>