<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
 <link rel="stylesheet" href="/ajax/css/style.css" type="text/css">
</head>
<body>
 <div id="wrap" >
        <header class="mt-4">
            <div class="text-center display-4">통나무 팬션</div>
            <nav class="mt-4">
                <ul class="nav nav-fill">
                    <li class="nav-item"><a class="nav-link" href="/ajax/booking/main">팬션소개</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">객실보기</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ajax/booking/input">예약하기</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ajax/booking/list">예약목록</a></li>
                </ul>
            </nav>
        </header>

		<section>
	        <article class="banner">
	            <img src="http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner1.jpg" id="bannerImage">
	        </article>
	        <article class="d-flex">
	            <div class="reservation d-flex justify-content-center align-items-center">
	                <div class="display-4">
	                    실시간 <br>
	                    예약 하기 
	                </div>
	            </div>
	            <div class="reservation-confirm">
	                <div class="m-4">
	                	<h3 class="mr-4">예약 확인</h3>
	                    
	                    <div class="member-input mt-3" id="member">
	                        <div class="input-gorup form-inline">
	                            <label class="input-label">이름 :</label>
	                            <input type="text" class="form-control text-input" id="nameInput">
	                        </div>
	                        <div class="input-gorup form-inline mt-3">
	                            <label class="input-label">전화번호 :</label>
	                            <input type="text" class="form-control text-input" id="phoneNumberInput">
	                        </div>
	
	                    </div>
	
	                    <div class="d-flex justify-content-end">
	                        <button class="btn btn-success mt-3 mr-5" id="lookupBtn">조회 하기</button>
	                    </div>
	                </div>
	            </div>
	            <div class="reservation-call d-flex justify-content-center align-items-center">
	                <div>
	                    <h3>예약문의 : </h3>
	                    <h1>010-</h1>
	                    <h1>000-1111</h1>
	                </div>
	            </div>
	        </article>
        </section>

        <footer class="mt-3 ml-4">
            <address>
                제주특별자치도 제주시 애월읍  <br>
                사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목 <br>
                Copyright 2025 tongnamu All right reserved
            </address>

        </footer>
    </div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
		$("#lookupBtn").on("click", function() {
			let name = $("#nameInput").val();
			let phoneNumber = $("#phoneNumberInput").val();
			
			if(name == "") {
				alert("이름을 입력하세요");
				return ;
			}
			
			if(phoneNumber == "") {
				alert("전화번호를 입력하세요");
				return ;
			}
			
			$.ajax({
				type:"get"
				, url:"/ajax/booking/search"
				, data:{"name":name, "phoneNumber":phoneNumber}
			 	, success:function(data) {
			 		
			 		if(data.result == "fail") {
			 			alert("조회결과가 없습니다");
			 		} else {
			 			alert("이름 : " + data.booking.name 
					 				+ "\n날짜 : " + data.booking.date 
					 				+ "\n일수 : " + data.booking.day
					 				+ "\n인원 : " + data.booking.headcount
					 				+ "\n상태 : " + data.booking.state);	
			 		}
			 		
			 		
			 	}
			 	, error:function() {
			 		alert("조회 에러!");
			 	}
				
			});
		});
    } );
</script>
</body>
</html>